
// Primary palette
$colour-primary: 	#2e98d2;
$colour-secondary:	#041e3b;

// Main Color
$colour-light:		#ffffff;
$colour-dark:	    #000000;
$colour-link:       #1e88e5;

// Social
$colour-facebook:   #3B5998;
$colour-googleplus: #DD4B39;
$colour-twitter:    #00ACED;
$colour-instagram:  #517FA4;
$colour-pinterest:  #CB2027;
$colour-youtube:    #BB0000;