// This font loaded from Adobe Typekit.
$font-stack: 'Signika', sans-serif;

// These are the only font weights we are loading from Adobe Typekit.
$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-semibold:  600;
$font-weight-bold:      700;